@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
.App {
  font-family: Pokemon;
  text-align: center;
  letter-spacing: 2px;
  background-color: rgb(132, 196, 238);
  min-height: 100vh;
  height: fit-content;
}
