@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
@font-face {
  font-family: "Pokemon";
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon")
      format("svg");
}
.App {
  font-family: Pokemon;
  text-align: center;
  letter-spacing: 2px;
  background-color: rgb(132, 196, 238);
  min-height: 100vh;
  height: fit-content;
}
