ul {
  list-style: none;
}
h1 {
  color: yellow;
  text-shadow: 5px 5px 5px blue;
  background-color: tomato;
  margin: 0;
}
/* * {
  background-color: rgb(132, 196, 238);
} */
.search-input {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: none;
  background-color: wheat;
  border-radius: 10px;
  height: 30px;
  width: 30%;
  margin: auto;
}

.search-area {
}

.catch-release-btn {
  width: 5%;
  padding: 2%;
  cursor: pointer;
}

.pokemon-collection-item,
button,
span {
  cursor: pointer;
}

.spinner-div {
  display: none;
}
.loader {
  z-index: 1;
  animation: loader infinite 5s linear;
  position: absolute;
  align-content: center;
  display: flex;
  left: 20%;
  bottom: 22%;
  width: 50%;
  height: 50%;
}
.spinner-img {
  width: 100%;
  height: 100%;
}
.blur {
  filter: blur(8px);
  display: flex;
  justify-content: space-evenly;
}

.main {
  display: flex;
  justify-content: space-evenly;
}

.collection-div {
  display: inline-block;
}

.ul-pokemon-types {
  position: absolute;
  display: inline-block;
  max-width: min-content;
}

.li-pokemon-details {
  width: fit-content;
}
.div-pokemon-details {
  text-align: start;
}

.ul-pokemon-types {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
}
.pokemon-list-by-type {
  display: block;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
