ul {
  list-style: none;
}
h1 {
  color: yellow;
  text-shadow: 5px 5px 5px blue;
  background-color: tomato;
  margin: 0;
}
/* * {
  background-color: rgb(132, 196, 238);
} */
.search-input {
  justify-content: center;
  text-align: center;
  align-items: center;
  border: none;
  background-color: wheat;
  border-radius: 10px;
  height: 30px;
  width: 30%;
  margin: auto;
}
.search-button {
  width: 4%;
  padding: 0% 1%;
  cursor: pointer;
}

.catch-release-btn {
  width: 5%;
  padding: 2%;
  cursor: pointer;
}
.catch-release-btn:hover {
  margin: 0.3%;
}

.pokemon-collection-item,
button,
span {
  cursor: pointer;
}

.spinner-div {
  display: none;
}
.loader {
  z-index: 1;
  animation: loader infinite 5s linear;
  position: absolute;
  align-content: center;
  display: flex;
  left: 20%;
  bottom: 22%;
  width: 50%;
  height: 50%;
}
.spinner-img {
  width: 100%;
  height: 100%;
}
.blur {
  filter: blur(8px);
  display: flex;
  justify-content: space-evenly;
}

.main {
  display: flex;
  justify-content: space-evenly;
}

.collection-div {
  display: inline-block;
}

.ul-pokemon-types {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: max-content;
  column-gap: 1.5%;
  row-gap: 1%;
  position: absolute;
  padding-right: 8%;
  /* display: inline-block; */
  max-width: min-content;
}

.li-pokemon-details {
  width: fit-content;
}
.div-pokemon-details {
  text-align: start;
}
.div-pokemon-types {
  border: red solid 0.1em;
}
.pokemon-list-by-type {
  display: block;
}
.next-btn,
.get-collection-btn {
  font-family: pokemon;
  letter-spacing: 2px;
  color: yellow;
  text-shadow: 5px 5px 5px blue;
  background-color: tomato;
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
